/* style.css */
body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .navigation {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
  }

  nav {
    margin-bottom: 30px;
    color: white;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  nav ul li {
    float: right;
  }
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #111;
    color: #FFC0FF;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-decoration: #FFC0FF;
    color: #333;
  }

  a:hover {
    color: #FFC0FF;
  }

  .active {
    color: black;
    font-weight: bold;
    background-color: lightgray;
  }

  .heading {
    margin-top: 80px;
    color: white
  }

  /* form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
  } */

  form {
    /* color: white; */
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-content: center;
  }

  th {
    text-align: center;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
  }

  input[type="submit"],
  input[type="reset"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #0056b3;
  }