<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="Advanced Call Center Solution for streamlined operations and enhanced customer service." name="description">
        <meta content="Call Center, Customer Service, CRM, Communication, Automation, Management, Solution" name="keywords">
        <meta content="Deepija Telecom Pvt Ltd" name="author">
        <title>Servers</title>
        <link rel="icon" th:href="@{/ConVox/favicon_convox.ico}" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" th:href="@{/ConVox/styles_convox_dashboard.css}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <script src="/ConVox/script_convox_dashboard.js" defer></script>
        <script src="/ConVox/script_convox_servers.js" defer></script>
    </head>
    <body>
        <div class="sidebar" id="sidebar">
            <a class="toggle-btn" href="javascript:void(0)" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </a>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-chart-line font-icon"></i>
                    <span> Live Status</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Process Status" onclick="postURL('?user_sel_menu=Process Status', 'false'); return false;">
                        <i class="fas fa-cogs"></i>
                        <span>Process Status</span>
                    </a>
                    <a href="?user_sel_menu=Trunk Status" onclick="postURL('?user_sel_menu=Trunk Status', 'false'); return false;">
                        <i class="fas fa-network-wired"></i>
                        <span>Trunk Status</span>
                    </a>
                    <a href="?user_sel_menu=Queues Status" onclick="postURL('?user_sel_menu=Queues Status', 'false'); return false;">
                        <i class="fas fa-stream"></i>
                        <span>Queues Status</span>
                    </a>
                    <a href="RealTimeDashBoard/" target="_blank">
                        <i class="fas fa-chart-line"></i>
                        <span>Dash Board</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-tools font-icon"></i>
                    <span> Debug Tools</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=ConVox Web Panel" onclick="postURL('?user_sel_menu=ConVox Web Panel', 'false'); return false;">
                        <i class="fas fa-tools"></i>
                        <span>ConVox Web Panel</span>
                    </a>
                    <a href="?user_sel_menu=Database Status" onclick="postURL('?user_sel_menu=Database Status', 'false'); return false;">
                        <i class="fas fa-database"></i>
                        <span>Database Status</span>
                    </a>
                    <a href="?user_sel_menu=ConVox Screens" onclick="postURL('?user_sel_menu=ConVox Screens', 'false'); return false;">
                        <i class="fas fa-tv"></i>
                        <span>ConVox Screens</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-cogs font-icon"></i>
                    <span> System Config</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a th:href="@{/convox/servers}">
                        <i class="fas fa-server"></i>
                        <span>Servers</span>
                    </a>
                    <a th:href="@{/convox/web-servers}">
                        <i class="fas fa-globe"></i>
                        <span>Web Servers</span>
                    </a>
                    <a th:href="@{/convox/stations}">
                        <i class="fas fa-network-wired"></i>
                        <span>Stations</span>
                    </a>
                    <a th:href="@{/convox/internal-stations}">
                        <i class="fas fa-sitemap"></i>
                        <span>Internal Stations</span>
                    </a>
                    <a th:href="@{/convox/lock-out-release}">
                        <i class="fas fa-unlock-alt"></i>
                        <span>Lock Out Release</span>
                    </a>
                    <a th:href="@{/convox/lockout-settings}">
                        <i class="fas fa-cog"></i>
                        <span>Lockout Settings</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-route font-icon"></i>
                    <span> Call Routing</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Inbound Routes" onclick="postURL('?user_sel_menu=Inbound Routes', 'false'); return false;">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Inbound Routes</span>
                    </a>
                    <a href="?user_sel_menu=Outbound Trunks" onclick="postURL('?user_sel_menu=Outbound Trunks', 'false'); return false;">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Outbound Trunks</span>
                    </a>
                    <a href="?user_sel_menu=Outbound Routes" onclick="postURL('?user_sel_menu=Outbound Routes', 'false'); return false;">
                        <i class="fas fa-route"></i>
                        <span>Outbound Routes</span>
                    </a>
                    <a href="?user_sel_menu=Callforward Routes" onclick="postURL('?user_sel_menu=Callforward Routes', 'false'); return false;">
                        <i class="fas fa-forward"></i>
                        <span>Callforward Routes</span>
                    </a>
                    <a href="?user_sel_menu=Hot Transfer Routes" onclick="postURL('?user_sel_menu=Hot Transfer Routes', 'false'); return false;">
                        <i class="fas fa-random"></i>
                        <span>Hot Transfer Routes</span>
                    </a>
                    <a href="?user_sel_menu=Service Providers" onclick="postURL('?user_sel_menu=Service Providers', 'false'); return false;">
                        <i class="fas fa-concierge-bell"></i>
                        <span>Service Providers</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-stream font-icon"></i>
                    <span> ACD and Queue</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Users" onclick="postURL('?user_sel_menu=Users', 'false'); return false;">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                    </a>
                    <a href="?user_sel_menu=Process" onclick="postURL('?user_sel_menu=Process', 'false'); return false;">
                        <i class="fas fa-tasks"></i>
                        <span>Process</span>
                    </a>
                    <a href="?user_sel_menu=Queues" onclick="postURL('?user_sel_menu=Queues', 'false'); return false;">
                        <i class="fas fa-stream"></i>
                        <span>Queues</span>
                    </a>
                    <a href="?user_sel_menu=Breaks" onclick="postURL('?user_sel_menu=Breaks', 'false'); return false;">
                        <i class="fas fa-coffee"></i>
                        <span>Breaks</span>
                    </a>
                    <a href="?user_sel_menu=Dispositions" onclick="postURL('?user_sel_menu=Dispositions', 'false'); return false;">
                        <i class="fas fa-clipboard-list"></i>
                        <span>Dispositions</span>
                    </a>
                    <a href="?user_sel_menu=Sub Disposition" onclick="postURL('?user_sel_menu=Sub Disposition', 'false'); return false;">
                        <i class="fas fa-clipboard-check"></i>
                        <span>Sub Disposition</span>
                    </a>
                    <a href="?user_sel_menu=Sub-Sub Disposition" onclick="postURL('?user_sel_menu=Sub-Sub Disposition', 'false'); return false;">
                        <i class="fas fa-clipboard"></i>
                        <span>Sub-Sub Disposition</span>
                    </a>
                    <a href="?user_sel_menu=Lead Re-Attempts" onclick="postURL('?user_sel_menu=Lead Re-Attempts', 'false'); return false;">
                        <i class="fas fa-redo-alt"></i>
                        <span>Lead Re-Attempts</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-address-book font-icon"></i>
                    <span> CRM</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=CRM" onclick="postURL('?user_sel_menu=CRM', 'false'); return false;">
                        <i class="fas fa-address-book"></i>
                        <span>CRM</span>
                    </a>
                    <a href="?user_sel_menu=Lists" onclick="postURL('?user_sel_menu=Lists', 'false'); return false;">
                        <i class="fas fa-list"></i>
                        <span>Lists</span>
                    </a>
                    <a href="?user_sel_menu=Callback Assignments" onclick="postURL('?user_sel_menu=Callback Assignments', 'false'); return false;">
                        <i class="fas fa-phone-alt"></i>
                        <span>Callback Assignments</span>
                    </a>
                    <a href="?user_sel_menu=Scripts" onclick="postURL('?user_sel_menu=Scripts', 'false'); return false;">
                        <i class="fas fa-file-alt"></i>
                        <span>Scripts</span>
                    </a>
                    <a href="?user_sel_menu=Block Caller" onclick="postURL('?user_sel_menu=Block Caller', 'false'); return false;">
                        <i class="fas fa-ban"></i>
                        <span>Block Caller</span>
                    </a>
                    <a href="?user_sel_menu=Custom Missed Settings" onclick="postURL('?user_sel_menu=Custom Missed Settings', 'false'); return false;">
                        <i class="fas fa-cogs"></i>
                        <span>Custom Missed Settings</span>
                    </a>
                    <a href="?user_sel_menu=Auto Email Settings" onclick="postURL('?user_sel_menu=Auto Email Settings', 'false'); return false;">
                        <i class="fas fa-envelope"></i>
                        <span>Auto Email Settings</span>
                    </a>
                    <a href="?user_sel_menu=IvrCallback Lead Settings" onclick="postURL('?user_sel_menu=IvrCallback Lead Settings', 'false'); return false;">
                        <i class="fas fa-headset"></i>
                        <span>IvrCallback Lead Settings</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-voicemail font-icon"></i>
                    <span> IVR</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Audio Files" onclick="postURL('?user_sel_menu=Audio Files', 'false'); return false;">
                        <i class="fas fa-music"></i>
                        <span>Audio Files</span>
                    </a>
                    <a href="?user_sel_menu=Recording Studio" onclick="postURL('?user_sel_menu=Recording Studio', 'false'); return false;">
                        <i class="fas fa-microphone"></i>
                        <span>Recording Studio</span>
                    </a>
                    <a href="?user_sel_menu=IVRS" onclick="postURL('?user_sel_menu=IVRS', 'false'); return false;">
                        <i class="fas fa-voicemail"></i>
                        <span>IVRS</span>
                    </a>
                    <a href="?user_sel_menu=Customer Feedback" onclick="postURL('?user_sel_menu=Customer Feedback', 'false'); return false;">
                        <i class="fas fa-comments"></i>
                        <span>Customer Feedback</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-comments font-icon"></i>
                    <span> WhatsApp</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="https://h248.deepijatel.in/ConVoxCMC/Internal/login_sso?agent_id=admin&password=admin" target="_blank">
                        <i class="fas fa-comments"></i>
                        <span>WhatsApp Admin</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-star font-icon"></i>
                    <span> Quality Module</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=QualityModule" onclick="postURL('?user_sel_menu=QualityModule', 'false'); return false;">
                        <i class="fas fa-star"></i>
                        <span>Quality Module</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-user-check font-icon"></i>
                    <span> Agent Analysis</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Agent Login Report" onclick="postURL('?user_sel_menu=Agent Login Report', 'false'); return false;">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Agent Login Report</span>
                    </a>
                    <a href="?user_sel_menu=Agent Performance Report" onclick="postURL('?user_sel_menu=Agent Performance Report', 'false'); return false;">
                        <i class="fas fa-chart-line"></i>
                        <span>Agent Performance Report</span>
                    </a>
                    <a href="?user_sel_menu=Agent Disposition Report" onclick="postURL('?user_sel_menu=Agent Disposition Report', 'false'); return false;">
                        <i class="fas fa-user-tag"></i>
                        <span>Agent Disposition Report</span>
                    </a>
                    <a href="?user_sel_menu=Queue Performance Report" onclick="postURL('?user_sel_menu=Queue Performance Report', 'false'); return false;">
                        <i class="fas fa-tasks"></i>
                        <span>Queue Performance Report</span>
                    </a>
                    <a href="?user_sel_menu=Leads Summary Report" onclick="postURL('?user_sel_menu=Leads Summary Report', 'false'); return false;">
                        <i class="fas fa-list-ul"></i>
                        <span>Leads Summary Report</span>
                    </a>
                    <a href="?user_sel_menu=Agent Lockout Report" onclick="postURL('?user_sel_menu=Agent Lockout Report', 'false'); return false;">
                        <i class="fas fa-lock"></i>
                        <span>Agent Lockout Report</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-chart-pie font-icon"></i>
                    <span> Process Analysis</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Process Report" onclick="postURL('?user_sel_menu=Process Report', 'false'); return false;">
                        <i class="fas fa-chart-pie"></i>
                        <span>Process Report</span>
                    </a>
                    <a href="?user_sel_menu=Predictive Outbound Report" onclick="postURL('?user_sel_menu=Predictive Outbound Report', 'false'); return false;">
                        <i class="fas fa-chart-bar"></i>
                        <span>Predictive Outbound Report</span>
                    </a>
                    <a href="?user_sel_menu=Preview Outbound Report" onclick="postURL('?user_sel_menu=Preview Outbound Report', 'false'); return false;">
                        <i class="fas fa-chart-area"></i>
                        <span>Preview Outbound Report</span>
                    </a>
                    <a href="?user_sel_menu=Progressive Outbound Report" onclick="postURL('?user_sel_menu=Progressive Outbound Report', 'false'); return false;">
                        <i class="fas fa-chart-line"></i>
                        <span>Progressive Outbound Report</span>
                    </a>
                    <a href="?user_sel_menu=Call Recording Report" onclick="postURL('?user_sel_menu=Call Recording Report', 'false'); return false;">
                        <i class="fas fa-microphone-alt"></i>
                        <span>Call Recording Report</span>
                    </a>
                    <a href="?user_sel_menu=DNC Report" onclick="postURL('?user_sel_menu=DNC Report', 'false'); return false;">
                        <i class="fas fa-ban"></i>
                        <span>DNC Report</span>
                    </a>
                    <a href="?user_sel_menu=CDR Report" onclick="postURL('?user_sel_menu=CDR Report', 'false'); return false;">
                        <i class="fas fa-file-alt"></i>
                        <span>CDR Report</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-phone font-icon"></i>
                    <span> Call Traffic Analysis</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Call Hits" onclick="postURL('?user_sel_menu=Call Hits', 'false'); return false;">
                        <i class="fas fa-phone"></i>
                        <span>Call Hits</span>
                    </a>
                    <a href="?user_sel_menu=FollowUp Report" onclick="postURL('?user_sel_menu=FollowUp Report', 'false'); return false;">
                        <i class="fas fa-file-alt"></i>
                        <span>FollowUp Report</span>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <h3 onclick="toggleSection(this)">
                    <i class="fas fa-users font-icon"></i>
                    <span> Conference Analysis</span>
                    <i class="fa-solid fa-caret-right toggle-icon"></i>
                </h3>
                <div class="menu-links">
                    <a href="?user_sel_menu=Conference Report" onclick="postURL('?user_sel_menu=Conference Report', 'false'); return false;">
                        <i class="fas fa-users"></i>
                        <span>Conference Report</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="header">
                <img alt="Convox Logo Dashboard" height="70px" style='background-color: transparent; border-collapse: collapse; border: 0px; margin-left: 30px; object-fit: contain;' th:src="@{/ConVox/logo_convox_dashboard.png}" width="100%">
                <div class="server-time">
                    <i class="fa-solid fa-server"></i>
                    <i class="fa-regular fa-clock"></i>
                    <span id="server-time-text"> </span>
                </div>
                <a class="dashboard-button" href="/convox/dashboard">Dashboard</a>
                <a class="logout-button" href="/convox/logout" onclick="confirmLogout(event)">Logout</a>
            </div>
            <div class="button-container" style="text-align: center; margin: 20px 0;">
                <button class="action-button top" id="add-server-button">
                    <i class="fa fa-plus"></i> Add Server
                </button>
                <button class="action-button top" id="update-server-button">
                    <i class="fa fa-edit"></i> Update Server
                </button>
                <button class="action-button top" id="delete-server-button">
                    <i class="fa fa-trash"></i> Delete Server
                </button>
            </div>
            <div id="update-server-search" style="display: none; text-align: center;">
                <h3>Search Server to Update</h3>
                <input type="text" id="search-server-id" placeholder="Enter Server ID or Name">
                <button class="action-button" onclick="searchServer()">Search</button>
                <button type="button" id="resetButton1" class="reset-button1" onclick="resetForm()">Cancel</button>
            </div>
            <div id="delete-server-search" style="display: none; text-align: center;">
                <h3>Search Server to Delete</h3>
                <input type="text" id="delete-search-server-id" placeholder="Enter Server ID or Name">
                <button class="action-button" onclick="deleteSearchServer()">Search</button>
                <button type="button" id="resetButton2" class="reset-button1" onclick="resetForm()">Cancel</button>
            </div>
            <div id="server-form-container" style="display: none;">
                <form class="server-form" id="server-form" method="post" action="/convox/servers">
                    <h2 id="form-heading" style="text-align: center;">Server Registration</h2>
                    <div class="form-group">
                        <label for="server-id">Server ID:</label>
                        <input id="server-id" name="serverId" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="server-name">Server Name:</label>
                        <input id="server-name" name="serverName" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="database-ip">Database IP:</label>
                        <input id="database-ip" name="databaseIp" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="database-web-port">Database Web Port:</label>
                        <input id="database-web-port" name="databaseWebPort" required type="number">
                    </div>
                    <div class="form-group">
                        <label for="voice-ip">Voice IP:</label>
                        <input id="voice-ip" name="voiceIp" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="voice-web-port">Voice Web Port:</label>
                        <input id="voice-web-port" name="voiceWebPort" required type="number">
                    </div>
                    <div class="form-group">
                        <label for="server-description">Server Description:</label>
                        <textarea id="server-description" name="serverDescription" required style='border: 1px solid #ccc; padding: 8px; border-radius: 5px;'></textarea>
                    </div>
                    <div class="form-group">
                        <label for="active-status">Status:</label>
                        <select id="active-status" name="activeStatus" required>
                            <option disabled selected value="">Select a status</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <button class="submit-button" id="submit-button" type="submit">Submit</button>
                    <button type="button" id="resetButton" class="reset-button" onclick="resetForm()">Reset</button>
                </form>
            </div>
            <h2 style="text-align: center; margin-top: 40px;">Server List</h2>
            <table class="server-table" style="text-align: center">
                <thead>
                    <tr>
                        <th>Reg. ID</th>
                        <th>Server ID</th>
                        <th>Server Name</th>
                        <th>Database IP</th>
                        <th>Database Web Port</th>
                        <th>Voice IP</th>
                        <th>Voice Web Port</th>
                        <th>Server Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="server : ${servers}">
                        <td th:text="${server.id}"></td>
                        <td th:text="${server.serverId}"></td>
                        <td th:text="${server.serverName}"></td>
                        <td th:text="${server.databaseIp}"></td>
                        <td th:text="${server.databaseWebPort}"></td>
                        <td th:text="${server.voiceIp}"></td>
                        <td th:text="${server.voiceWebPort}"></td>
                        <td th:text="${server.serverDescription}"></td>
                        <td th:text="${server.activeStatus}"></td>
                    </tr>
                </tbody>
            </table>
            <script th:inline="javascript">
                var servers = /*[[${servers}]]*/ [];
            </script>
        </div>

        <div class="footer"> Powered by Deepija Telecom Pvt Ltd &copy; 2024 All Rights Reserved. </div>
    </body>
</html>